body {
  font-family: 'Comic Sans MS',sans-serif;
  margin-top: 15px;
  width: 100%;
background-color: #00d495;
}

#app {
  width: 100%;
  text-align: center;
}

.user-list {
  font-family: 'Comic Sans MS',sans-serif;
  padding: 15px;
  letter-spacing: 1px;
  font-size: 35px;
  color: indigo;
  word-spacing: 25px;
  word-break: break-all;
}

.user-city{
  text-space: 15%;
  letter-spacing: 2px;
  word-spacing: 155px;
}

.title {
  background-color: #0053c0;
  padding: 35px 155px 15px 15px;
  color: white;
  font-size: 35px;
  font-family: 'Comic Sans MS',sans-serif;
  text-align: right;
}

.user-row-header {
  padding: 5px 0px 0px 0px;
  text-space: 1%;
  font-weight: bold;
  border-bottom: 2px solid #0053c0;
}

.user-row {
  border-bottom: 1px solid #e9e9e9;
  padding: 5px 0px 5px 0px;
  text-space: 1%;
}

.user-row:hover {
  background-color: #f3f3f3;
  cursor: pointer;
}

.user-name {
  width: 16%;
  display: inline-block;
}

.user-city {
  width: 25%;
  display: inline-block;
}
